<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>This site works best with a modern browser.</h3>

        <h1>Please upgrade your browser to the latest version of a major browser for best experience.</h1>
        <h5>We recommend Chrome, Opera, Safari, or Firefox.</h5>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div><!-- /headerwrap -->