<p>
  <strong>User:</strong>
  <%= @user.username %>
</p>

<!-- *****************************************************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
<div id="portfoliowrap">
  <div>
    <h3>Projects:</h3>
    <%= solid_portfolio do %>
        <% @projects.each do |project| %>
            <%= solid_portfolio_item(project.title, project.thumbnail, project.thumbnail, project_path(project)) %>
        <% end %>
    <% end %>
  </div>
  <!-- portfolio container -->
</div><!--/Portfoliowrap -->

