/* miscellaneous */

@mixin box_sizing {
  box-sizing: border-box;
}

pre.debug_dump {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}