<div class="admin-panel hidden" id="super-admin-panel">
  <script type="application/javascript">
    $(document).on('keydown', null, 'alt+a', function(){
        $('#super-admin-panel').toggleClass('hidden');
    });
  </script>
  <h5>Super Admin Panel</h5>
  <div>
    <%= render 'admin_switch_user_form' %>
  </div>
</div>