<div class="modal fade" id="registration_modal" role="dialog" aria-labelledby="registration" aria-describedby="Registration and Login Dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sign in...</h4>
      </div>
      <div class="modal-body">
        <a class="btn btn-block btn-social btn-facebook">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
        <a class="btn btn-block btn-social btn-google-plus">
          <i class="fa fa-google-plus"></i> Sign in with Google
        </a>
        <a class="btn btn-block btn-social btn-github">
          <i class="fa fa-github"></i> Sign in with Github
        </a>
        <a class="btn btn-block btn-social btn-clever">
          <i class="icon-laplaya-clever"></i> Sign in with Clever
        </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->