<%= form_tag user_session_path, id: 'signin-form', class: 'compact-form' do %>
    <h5 class="heading">Or sign in using your email</h5>
    <div class="form-group top">
      <%= text_field_tag 'user[email]', nil,
                         placeholder: 'email',
                         class: 'form-control email',
                         type: 'email'
      %>
    </div>
    <div class="form-group bottom">
      <%= text_field_tag 'user[password]', nil,
                         placeholder: 'password',
                         class: 'form-control password',
                         type: 'password'
      %>
    </div>
<% end %>
